.footer{
  background: $dark-green;
  color: black;
  margin-buttom: $xl-size;
  padding: $m-size 0;
  text-align: center;
  align-items: center;
}

.Centro{
  text-align: center;
  align-items: center;
}
