//FONDO
.header{
  // background: $dark-green;

background: rgba(69,89,54,1);
background: -moz-linear-gradient(top, rgba(69,89,54,1) 0%, rgba(21,40,6,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(69,89,54,1)), color-stop(100%, rgba(21,40,6,1)));
background: -webkit-linear-gradient(top, rgba(69,89,54,1) 0%, rgba(21,40,6,1) 100%);
background: -o-linear-gradient(top, rgba(69,89,54,1) 0%, rgba(21,40,6,1) 100%);
background: -ms-linear-gradient(top, rgba(69,89,54,1) 0%, rgba(21,40,6,1) 100%);
background: linear-gradient(to bottom, rgba(69,89,54,1) 0%, rgba(21,40,6,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#455936', endColorstr='#152806', GradientType=0 );

  color: black;
  margin-buttom: $xl-size;
  padding: $m-size 0;
  text-align: center;
  align-items: center;
}

//TITULO UNILIFE
.header__title{
  color: $light-green;
  font-size: $xl-size;
  margin: 0;
}

//SUBTITULO
.header__subtitle{
  color: $light-green;
  font-size: $m-size;
  font-weight: 500;
  margin: 1;
}
