//colors
$off-black: #222b20;
$off-white: #5a5fd7;
$dark-blue: #20222b;
$grey-blue: #333745;
$purple: #404d8b;
$dark-green: #202b22;
$grey-green: #506d50;
$light-green: #95c59e;
$green-background: #a7a6a6;
$light-green-background: #84b684;
$color: #c7c7c7;

//blue pallete, del mal claro al mas oscuro
$color-1: #7fb3d5;
$color-2: #5499c7;
$color-3: #2980b9;
$color-4: #2471a3;
$color-5: #1f618d;
$color-6: #1a5276;

//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

//image size
$so-smol: 10rem;
